
@{
    Layout = null;
}

<style>
	#locationId option {
		color: black;
	}
</style>

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_UIHeadComponentPartial")
<body>
	
	@await Component.InvokeAsync("_UINavbarComponentPartial")
	@await Component.InvokeAsync("_UISliderComponentPartial")

	<section class="ftco-search">
		<div class="container">
			<div class="row">
				<div class="col-md-12 search-wrap">
					<h2 class="heading h5 d-flex align-items-center pr-4"><span class="ion-ios-search mr-3"></span> Search Property</h2>
					<form asp-action="Index" asp-controller="Default" class="search-property">
						<div class="row">
							<div class="col-md align-items-end">

								<div class="form-group">
									<label for="#">Lokasyon</label>
									<div class="form-field">
										
										<select name="locationId" id="locationId" class="form-control">
											<option selected disabled="">Seç</option>
											@foreach (var item in ViewBag.location)
											{
												<option value="@item.LocationId">@item.Location</option>

											}
										</select>


									</div>
								</div>

							</div>
							<div class="col-md align-items-end">
								<div class="form-group">
									<label for="#">Kategori</label>
									<div class="form-field">
                                        
										<select name="categoryId" id="categoryId" class="form-control">
											<option selected disabled="">Seç</option>
											@foreach (var item in ViewBag.category)
											{
												<option value="@item.CategoryId">@item.CategoryName</option>

											}
										</select>

									</div>
								</div>
							</div>
							<div class="col-md align-items-end">
								<div class="form-group">
									<label for="#">Durumu</label>
									<div class="form-field">
										
										<select name="adStiuationId" id="adStiuationId" class="form-control">
											<option selected disabled="">Seç</option>
											@foreach (var item in ViewBag.stiuation)
											{
												<option value="@item.AdStiuationId">@item.AdStiuation</option>

											}
										</select>

									</div>
								</div>
							</div>
							<div class="col-md align-self-end">
								<div class="form-group">
									<div class="form-field">
										<input type="submit" value="Ara" class="form-control btn btn-primary">
									</div>
								</div>
							</div>
						</div>
					</form>

						

					
				</div>
			</div>
		</div>
	</section>


	@await Component.InvokeAsync("_UIResentPostComponentPartial")
	@await Component.InvokeAsync("_UILast4PostComponentPartial")
	@await Component.InvokeAsync("_UIStatisticsComponentPartial")
	@await Component.InvokeAsync("_UITestimonialComponentPartial")
	@await Component.InvokeAsync("_UIFooterComponentPartial")
	@await Component.InvokeAsync("_UIScriptComponentPartial")
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

</body>
</html>
