@model List<ResultLast4AdsDto>

<section class="ftco-section bg-light">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				
				<h2 class="mb-4">Eklenen Son 4 İlan</h2>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		
			<div class="row">
			@foreach (var item in Model)
			{

				<div class="col-sm col-md-6 col-lg ftco-animate">
					<div class="properties">
						<a href="/Ads/AdDetail/@item.AdId " class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(@item.ImageURL);">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="icon-search2"></span>
							</div>
						</a>
						<div class="text p-3">
							@if (item.AdStiuation == "Satılık")
							{
								<span class="status sale">@item.AdStiuation</span>
							}
							else
							{
								<span class="status rent">@item.AdStiuation</span>
							}

							<div class="d-flex">
								<div class="one">
									<h3><a href="property-single.html">@item.AdTitle</a></h3>
									<p>@item.CategoryName</p>
								</div>
								<div class="two">
									<span class="price">@item.Price₺</span>
								</div>
							</div>
							<p>@item.Desciption</p>
							<hr>
							<p class="bottom-area d-flex">
								<span><i class="flaticon-selection"></i> @item.SquareMeter</span>
								<span class="ml-auto"><i class="flaticon-bathtub"></i> @item.BathRooms</span>
								<span><i class="flaticon-bed"></i> @item.BedRooms</span>
							</p>
						</div>
					</div>
				</div>
			}

			</div>
		
		
	</div>
</section>