@model List<ResultResentAdPostDto>

<section class="ftco-section ftco-properties">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				
				<h2 class="mb-4">En Çok Tercih Edilenler</h2>
			</div>
		</div>
		<div class="row">

			<div class="col-md-12">
				<div class="properties-slider owl-carousel ftco-animate">
					@foreach(var item in Model)
					{
						<div class="item">
							<div class="properties">
								<a href="#" class="img d-flex justify-content-center align-items-center" style="background-image: url(@item.ImageURL);">
									<div class="icon d-flex justify-content-center align-items-center">
										<span class="icon-search2"></span>
									</div>
								</a>
								<div class="text p-3">
									@if (item.AdStiuation == "Satılık")
									{
										<span class="status sale">@item.AdStiuation</span>
									}
									else
									{
										<span class="status rent">@item.AdStiuation</span>
									}
									<div class="d-flex">
										<div class="one">
											<h3><a href="#">@item.AdTitle</a></h3>
											<p>@item.CategoryName</p>
										</div>
										<div class="two">
											<span class="price">@item.Price ₺</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
					
				</div>
			</div>
		</div>
	</div>
</section>

									@* ısrent *@